<div class="wrapper wrapper-padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>
      Hi my name is Kevin, I am a webdeveloper from Amsterdam, The Netherlands.
    </p>

    <p>
      I have learned how to code by doing online courses, going to meetups and bother great developers.
    </p>
    <p>
    Professionally I use the Ruby on Rails framework, so I code using Ruby, JavaScript and CSS.
    Currenty I am looking into the ReactJs library, Github's Electron framework and the Elixir functional language with its framework Phoenix.
    I'll Blog mainly about WebDev stuff and the hobby projects I will be working on.
    </p>
  </div>

  <div class="col-2 homepage_content">
    <h2>Stuff I've written</h2>
    <hr>

    <% @posts.each do |post| %>
    <h3><a href="#"><%=link_to post.title, post %></a></h3>
    <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>

  <div class="col-3 homepage_content">
    <h2>Stuff I've Build</h2>
    <hr>
    <h3><a href="#">webshop</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">project x </a></h3>
    <p class="date">Thursday April 9th</p>
    <h3><a href="#">phoenix project</a></h3>
    <p class="date">Thursday April 9th</p>
  </div>
</div>
