<h1 id="page_title">Say Hello!</h1>
<div class="skinny-wrapper wrapper-padding">
  <label>Name</label><br>
  <input type="text">
  <br>

  <label>Email</label><br>
  <input type="email">

  <br>

  <label>Message</label><br>
  <textarea></textarea>
  <br>
  <div class="send-button">

    <input type="submit" value="Send Message" class="button">
  </div>
</div>
