<header id="main_navigation" class="border-main clearfix">
  <%= link_to 'Rails Dev Kev', root_path, class: 'name' %>
  <nav>
    <%= link_to 'Article', posts_path%>
    <%= link_to 'Projects', projects_path%>
    <%= link_to 'Contact', contact_path%>
  </nav>
</header>
