<header id="main_navigation" class="border-main clearfix">
  <a href="#" class="name">Rails Dev Kev</a>
  <nav>
    <a href="#">Articles</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>
</header>
